@import '../../../styles/color'

.authorization
    position: relative
    max-width: 100vw
    height: 100vh
    display: flex
    align-items: center
    justify-content: center
    font-family: Poppins

    .image-box
        position: absolute
        right: 0
        width: 56%
        height: 100%
        overflow: hidden

        .image
            position: relative
            width: 200%
            height: 100%
            object-fit: cover
            -webkit-mask-image: linear-gradient(to right, transparent, #181818 30%)
            mask-image: linear-gradient(to right, transparent, #181818 30%)

    .login-form
        position: absolute
        left: 0
        width: 50%
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center

        .title
            font-size: 32px
            font-weight: 500
            margin-bottom: 20px
            background-size: 400% 400%
            color: $color-white

        .info
            font-size: 16px
            font-weight: 500
            margin-bottom: 30px
            color: $color-light-green

        .form
            position: relative
            display: flex
            flex-direction: column
            align-items: flex-start
            justify-content: center
            gap: 15px
            width: 320px
            height: fit-content
            padding: 40px
            font-family: Poppins
            font-size: 15px
            background-color: #181818

            &::after, &::before
                content: ''
                position: absolute
                top: 50%
                left: 50%
                z-index: -1
                translate: -50% -50%
                height: 100%
                width: 100%
                padding: 4px
                background-image: conic-gradient(from var(--angle),rgba(0,40,2,1) 26%, #008a08 50%, rgba(0,40,2,1) 74%)
                animation: 10s spin linear infinite
            &::before
                filter: blur(1.5rem)
                opacity: 0.5

            .input
                width: -webkit-fill-available
                padding: 20px 10px
                // border: 0.5px solid $color-white
                border: none
                background-color: $color-gray
                color: $color-white
                font-size: 16px

                &:focus
                    background-color: #414141
                    outline: none

            .button-box
                display: flex
                flex-direction: column
                width: 100%
                align-items: flex-end
                gap: 12px
                margin-top: 20px
                font-size: 16px

                .sign-up
                    font-size: 12px

                .button
                    width: 100%
                    padding: 20px 10px
                    background-color: $color-white
                    border: none
                    cursor: pointer
                    transition: 0.5s background-color ease-in-out
                    font-family: Poppins

                    &:hover
                        background-color: $color-green
                        color: $color-white

                .link
                    color: $color-green
                    text-decoration: underline

@property --angle
    syntax: "<angle>"
    initial-value: 0deg
    inherits: false

@keyframes spin
    from
        --angle: 0deg
    to
        --angle: 360deg
